@media only screen and (min-width: 1000px) {

@font-face
{
    font-family: OstrichSansMedium;
    src: url(../fonts/ostrich-sans/OstrichSans-Medium.otf);
}

@font-face
{
    font-family: OstrichSansBold;
    src: url(../fonts/ostrich-sans/OstrichSans-Bold.otf);
}

@font-face
{
font-family: EksterTechno;
    src: url(../fonts/ekster-techno.ttf)
}

body{
    margin: 0;
    padding: 0;
    background-color: #0e0e0e;
}

#wrapper
{
    width:100vw;
    height: 100vh;
    background-color: #0e0e0e;
}

#status-of-gun
{
    margin-bottom: 10px;
}

#reload {
    position: absolute;
    top: 80px;
    left: 12px;
}

#logo {
  position: absolute;
  top:0;
  left:0;
}

#fullscreen {
    position: absolute;
    top: 0px;
    left: 12px;
}

#ammo
{
    margin-bottom: 10px;
}

#game-area #player
{
    position: absolute;
    top:0;
    margin-left: 752px;
    width: 160px;
    height: 750px;
    background-color: black;
    border: 2px solid whitesmoke;
}

#game-area canvas {
    border: 2px solid whitesmoke;
}

#game-area
{
    background-color: #0e0e0e;
    position: relative;
    padding: 0;
    margin-left: 50%;
    left: -458px;
    top: 20px;
    height: 750px;
    width: 916px;
}

#wrapper-game
{

    background-color: #0e0e0e;
}


h3
{
    text-align: center;
    color: whitesmoke;
    font-family: OstrichSansMedium;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;
}

p
{
    text-align: center;
    color: whitesmoke;
    text-transform: uppercase;
    font-family: OstrichSansMedium;
    font-size: 32px;
}

#guns-and-ammo {
    font-family: OstrichSansMedium;
    font-size: 35px;
}

}
